<h1>Anytiiin you liiie I do foor yooou!</h1>

<div class="box">

  <div class="img_box">
    <img src="img/burger_smallbaby.jpg">
  </div>

  <div class="content">

    <h2>Burgers not eaten!</h2>

  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{id}}">
      Devoured
    </button>

    <button class="delete-burger" data-id="{{this.id}}">EWWW! DELETE!</button>
  </li>

      {{/unless}}
    {{/each}}
  </ul>

  <h2>Burgers that are eaten!</h2>

  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>
    {{burger_name}}

    {{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
      {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button> --}}

    <button class="delete-burger" data-id="{{this.id}}">EWWW! DELETE!</button>
  </li>

      {{/if}}
    {{/each}}
  </ul>

  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      {{!-- <label for="bu">Burger Name:</label> --}}
      <input type="text" id="bu" name="name" placeholder="Burger Name Here">
    </div>

    {{!-- <div class="form-group">
      <label for="sleepy">Sleepy?</label><br>
      <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
      <input type="radio" name="sleepy" value="0"> Awake
    </div> --}}

    <button type="submit">Add Burrrgg</button>
  </form>
  </div>

</div>
